::ng-deep * {
    margin: 0;
    padding: 0;
  }

*{
    font-family: "Poppins";
    margin:0; 
    padding:0;
  }
#body {
  margin: 0;
  background: url("../../assets/images/bg-intro-mobile.png"), #fc6161;
  background-position: center;
  background-repeat: repeat;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 768px) {
  #body {
      margin: 0;
    background: url("../../assets/images/bg-intro-desktop.png"), #fc6161;
    background-position: center;
    background-repeat: repeat;
  }
}

*, * *, *::after, *::before {
  box-sizing: border-box;
}


main {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  main {
    max-width: min(90vw, 1000px);
    flex-direction: row;
    gap: 1em;
  }
  main > * {
    width: 50%;
  }
}

.content {
  color: white;
  text-align: center;
  padding: 1em;
}
.content h1 {
  line-height: 1.25em;
}
@media (min-width: 768px) {
  .content {
    text-align: left;
    padding: 1.5em;
    font-size: 0.9em;
  }
  .content h1 {
    font-size: 2.5em;
  }
}

.signup {
  padding: 1em;
  text-align: center;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  flex-wrap: nowrap;
}

.signup__pricing, .signup__form {
  border-radius: 8px;
}

.signup__pricing {
  background-color: #4531c9;
  padding: 0.5em;
  text-align: inherit;
  color: white;
  font-size: 0.8em;
}

#signup__form {
  background-color: white;
  padding: 1.5em;
  position: relative;
}
#signup__form input {
  width: 100%;
  height: 3em;
  padding: 0 1em;
  margin-top: 0.9em;
  font-family: inherit;
  font-weight: bolder;
}
#signup__form input:not([type=submit]) {
  border: 1px solid #e4e2e2;
  border-radius: 4px;
}

#signup__form input.ng-invalid.ng-touched {
  border: 2px solid #f52020;
}

input[type=submit] {
  box-shadow: 0px 0.3em 0px 0px #2fb179;
  border: none;
  border-radius: 4px;
  background-color: #38cc8c;
  text-transform: uppercase;
  color: white;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-top: 6px;
  cursor: pointer;
}
input[type=submit]:hover {
  box-shadow: 0px 0.3em 0px 0px #38cc8c;
  background-color: #39c487;
}

.terms-notice {
  display: block;
  margin-top: 1em;
  padding: 0.5em;
  font-size: 0.75em;
  color: gray;
}
.terms-notice span {
  color: #e94040;
  font-weight: bolder;
}

a{
    color: #e94040;
}
footer {
  text-align: center;
  color: white;
  font-size: smaller;
}
footer a {
  color: inherit;
}

small{
    color:red !important;
}
