.box {
    height: 500px;
    width: 100vw;
    background-color: cyan;
    border: 4px solid blue;
    font-size: 4rem;
  }
  

  .inner-box {
    height: 50vh;
    width: 50%;
    background-color: seagreen;
    border: 2px solid gray;
    font-size: 0.5em;
  }

  div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }
  